<div class="plan">
  <h4 class="plan-title">プランテキスト</h4>
  <div class="plan-price">
    <div class="price">￥<b>5,000</b></div>
    <p class="price-text">月額</p>
  </div>
  <p class="plan-text">入会金0円</p>
  <p class="plan-text">平日：9時～17時</p>
  <p class="plan-text">土日祝：利用なし</p>
  <p class="plan-text">コアタイムでの利用に最適なプラン</p>
</div>

<div class="plan">
  <h4 class="plan-title">プランテキスト</h4>
  <div class="plan-price">
    <div class="price">￥<b>5,000</b></div>
    <p class="price-text">月額</p>
  </div>
  <p class="plan-text">入会金0円</p>
  <p class="plan-text">平日：9時～17時</p>
  <p class="plan-text">土日祝：利用なし</p>
  <p class="plan-text">コアタイムでの利用に最適なプラン</p>
</div>
