@use "../../variables" as *;

header {
  background-color: $black;
  display: inline-block;
  height: 60px;
  width: 100%;

  @media (min-width: $breakpoint-xl) {
    background-color: $gray_nobel;
    display: flex;
    justify-content: space-between;
    height: 90px;
  }

  ul {
    list-style: none;
    background-color: $black;
    color: $white;
  }

  li {
    font-size: $fontsize-xs;
    height: 50px;
    line-height: 50px;

    @media (min-width: $breakpoint-xl) {
      height: 90px;
      line-height: 90px;
    }
  }
  a {
    color: $white;
    text-decoration: none;
    font-size: $fontsize-s;

    &:hover {
      color: $white;
    }
  }
}

.header {
  display: flex;
}

.header-img {
  height: 20px;
  margin: 20px 16px;

  @media (min-width: $breakpoint-xl) {
    height: 24px;
    margin: 33px 30px;
  }
}

.humberger-btn {
  margin-left: auto;
}

#humberger {
  img {
    height: 15px;
    margin: 22.5px 16px;
  }
}

.concept {
  display: flex;

  img {
    width: 26px;
    height: 26px;
    margin: 12px 16px;
  }
}

.card {
  border: none;
}

#main-ul {
  @media (min-width: $breakpoint-xl) {
    background-color: $gray_nobel;
    display: flex;
    margin: 0px;
    padding: 0px;
  }
}

.main-li {
  @media (min-width: $breakpoint-xl) {
    margin-right: 30px;
    transition: transform 0.2s ease;
    &:hover {
      opacity: 0.6;
    }
  }
}

#collapseConcept ul {
  padding-left: 12px;
}

#dropdownMenuButton {
  background-color: $gray_nobel;
  border: none;
  height: 50px;
  padding: 0px;
}

.dropdown-menu {
  background-color: $black;
  border: none;
  border-radius: 0;
  padding: 0px;
  transform: translate(-15px, 90px) !important;

  li {
    padding: 0px 18px;
    width: 220px;
    height: 56px;
    line-height: 56px;
  }
}
