<header>
  <div class="header-inner">
    <a href="#"><img class="header-img" src="../../../img/header.png" /></a>
    <a
      class="humberger-btn d-xl-none"
      id="humberger"
      data-bs-toggle="collapse"
      href="#collapseExample"
      role="button"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      <img src="../../../img/humberger-bar.svg" />
    </a>
  </div>
  <div class="collapse d-xl-flex" id="collapseExample">
    <div class="card card-body">
      <ul id="main-ul">
        <li><a href="#" class="main-li">HOME</a></li>
        <div class="concept d-lg-flex d-xl-none">
          <li><a href="#">CONCEPT</a></li>
          <a
            class="humberger-btn d-xl-none"
            data-bs-toggle="collapse"
            href="#collapseConcept"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            <img src="../../../img/plus.svg" alt="" />
          </a>
        </div>
        <div class="collapse d-xl-none" id="collapseConcept">
          <div class="card card-body">
            <ul>
              <li><a href="#">ブロクアーカイブ</a></li>
              <li><a href="#">お知らせアーカイブ</a></li>
              <li><a href="#">イベントアーカイブ</a></li>
              <li><a href="#">インタビューアーカイブ</a></li>
              <li><a href="#">FAQページ</a></li>
              <li><a href="#">固定ページ（デフォルト）</a></li>
              <li><a href="#">CONCEPT</a></li>
              <li><a href="#">SERVICE</a></li>
              <li><a href="#">FLOOR</a></li>
              <li><a href="#">ACCESS</a></li>
            </ul>
          </div>
        </div>
        <div class="dropdown d-none d-xl-flex">
          <button
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <li><a href="#" class="main-li">CONCEPT</a></li>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a href="#">ブロクアーカイブ</a></li>
            <li><a href="#">お知らせアーカイブ</a></li>
            <li><a href="#">イベントアーカイブ</a></li>
            <li><a href="#">インタビューアーカイブ</a></li>
            <li><a href="#">FAQページ</a></li>
            <li><a href="#">固定ページ（デフォルト）</a></li>
            <li><a href="#">CONCEPT</a></li>
            <li><a href="#">SERVICE</a></li>
            <li><a href="#">FLOOR</a></li>
            <li><a href="#">ACCESS</a></li>
          </ul>
        </div>
        <li><a href="#" class="main-li">SERVICE</a></li>
        <li><a href="#" class="main-li">FLOOR</a></li>
        <li><a href="#" class="main-li">INTERVIEW</a></li>
        <li><a href="#" class="main-li">BLOG</a></li>
        <li><a href="#" class="main-li">ACCESS</a></li>
        <li><a href="#" class="main-li">DOWNLOAD</a></li>
      </ul>
    </div>
  </div>
</header>
