@use "../../variables" as *;

header {
  background-color: $black;
  display: inline-block;
  height: 60px;
  width: 100%;
  position: absolute;
  z-index: 1;

  @media (min-width: $breakpoint-xl) {
    background-color: $black_50;
    display: flex;
    justify-content: space-between;
    height: 90px;
    position: relative;
  }

  ul {
    list-style: none;
    background-color: $black;
    color: $white;
  }

  li {
    font-size: $fontsize-xs;
    height: 50px;
    line-height: 50px;

    @media (min-width: $breakpoint-xl) {
      height: 90px;
      line-height: 90px;
    }
  }
  a {
    color: $white;
    text-decoration: none;
    font-size: $fontsize-s;

    &:hover {
      color: $white;
    }
  }

  .header-inner {
    display: flex;

    .header-img {
      height: 20px;
      margin: 20px 16px;

      @media (min-width: $breakpoint-xl) {
        height: 24px;
        margin: 33px 30px;
      }
    }

    .humberger-btn {
      margin-left: auto;
    }

    #humberger {
      img {
        height: 15px;
        margin: 22.5px 16px;
      }
    }
  }

  .card {
    border: none;
    border-radius: 0;
    z-index: 1;

    @media (min-width: $breakpoint-xl) {
      background-color: $white;
    }

    #main-ul {
      padding-left: 16px;
      margin-bottom: 0;

      @media (min-width: $breakpoint-xl) {
        background-color: $black_50;

        display: flex;
        margin: 0px;
        padding: 0px;
      }

      .main-li {
        @media (min-width: $breakpoint-xl) {
          margin-right: 30px;
          transition: 0.2s ease;
          &:hover {
            color: $gray_nobel;
          }
        }
      }

      .concept {
        display: flex;
        justify-content: space-between;

        img {
          width: 26px;
          margin: 12px 16px;
        }
      }

      #collapseConcept ul {
        padding-left: 12px;
      }

      .dropdown {
        background-color: $white;

        #dropdownMenuButton {
          background-color: $black_50;
          border: none;
          height: 90px;
          padding: 0px;
        }

        .dropdown-menu {
          background-color: $black;
          border: none;
          border-radius: 0;
          padding: 0px;
          transform: translate(-15px, 90px) !important;

          li {
            width: 220px;
            height: 56px;
            line-height: 56px;

            a {
              padding: 0px 18px;
              display: block;
              height: 100%;
              width: 100%;
              transition: 0.2s ease;

              &:hover {
                background-color: $orange_bistre;
              }
            }
          }
        }
      }
    }
  }
}
