<div class="footer">
  <div class="contact">
    <img src="../../../img/footer.png" alt="" />
    <p>〒532-0011　大阪市淀川区西中島6丁目8-23テスト<br>TEL.06-1234-5678 FAX.06-1234-5678　営業時間 / 9:00 - 22:00　定休日 / 不定休</p>
    <div class="icon-list">
      <a href="" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="" class="icon"><i class="fa-brands fa-twitter"></i></a>
      <a href="" class="icon"><i class="fa-brands fa-instagram"></i></a>
      <a href="" class="icon"><i class="fa-solid fa-rss"></i></a>
    </div>
  </div>
  <div class="nav-list">
    <a href="" class="nav">HOME</a>
    <p class="d-none d-md-flex">|</p>
    <a href="" class="nav">CONCEPT</a>
    <p class="d-none d-md-flex">|</p>
    <a href="" class="nav">SERVICE</a>
    <p class="d-none d-md-flex">|</p>
    <a href="" class="nav">FLOOR</a>
    <p class="d-none d-md-flex">|</p>
    <a href="" class="nav">INTERVIEW</a>
    <p class="d-none d-md-flex">|</p>
    <a href="" class="nav">BLOG</a>
    <p class="d-none d-md-flex">|</p>
    <a href="" class="nav">ACCESS</a>
    <p class="d-none d-md-flex">|</p>
    <a href="" class="nav">DOWNLOAD</a>
  </div>
  <div class="copyright">
    <p>Copyright © WordPressテーマ「Switch(tcd063)」 All Rights Reserved.</p>
  </div>
</div>
