<div class="footer">
  <div class="contact">
    <img src="../../../img/footer.png" alt="" />
    <address>〒532-0011　大阪市淀川区西中島6丁目8-23テスト<br>TEL.06-1234-5678 FAX.06-1234-5678　営業時間 / 9:00 - 22:00　定休日 / 不定休</address>
    <div class="icon-list">
      <a href="" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="" class="icon"><i class="fa-brands fa-twitter"></i></a>
      <a href="" class="icon"><i class="fa-brands fa-instagram"></i></a>
      <a href="" class="icon"><i class="fa-solid fa-rss"></i></a>
    </div>
  </div>
  <div class="nav-list">
    <a href="" class="nav b-r">HOME</a>
    <a href="" class="nav b-r b-l">CONCEPT</a>
    <a href="" class="nav b-r b-l">SERVICE</a>
    <a href="" class="nav b-r b-l">FLOOR</a>
    <a href="" class="nav b-r b-l">INTERVIEW</a>
    <a href="" class="nav b-r b-l">BLOG</a>
    <a href="" class="nav b-r b-l">ACCESS</a>
    <a href="" class="nav b-l">DOWNLOAD</a>
  </div>
  <div class="copyright">
    <small>Copyright © WordPressテーマ「Switch(tcd063)」 All Rights Reserved.</small>
  </div>
</div>
