<div class="message">
  <h2 class="message-title">カフェで読書＆コワーキング。快適のフロアスペース空間。</h2>
  <p class="message-text">カフェエリアでコーヒーを注文し、ブックエリアでお好みの本を選び、コワーキングスペースでコーヒーと共に読書を楽しむ。学校・仕事帰りに、平日の日中に、休日にゆっくり...さまざまなライフスタイルに合わせてご利用いただける多彩なプランをご用意しております。</p>
</div>

<div class="message">
  <h2 class="message-title">人と人、人と本が繋がるまったく新しい快適時間。</h2>
  <p class="message-text">月額プラン以外にビジター料金でのご利用も可能です。通いやすい時間や曜日に合わせてプランをお選びください。ご登録プランは後の変更も可能ですので、資格試験等の目標がある場合など環境の変化に合わせて柔軟に対応しております。WiFiも電源も標準設備しており、時間を気にせず仕事や勉強に取り組めます。カフェでの長居は気が引けるという方にも心置きなくご利用いただけます。</p>
</div>

<div class="message">
  <h2 class="message-title">ライフスタイルに合わせて選べる多彩なプラン</h2>
  <p class="message-text">平日のみのプラン、仕事帰りをコアタイムとした夕方以降が中心のプラン、休日をメインとしたプランなど、多彩なプランの中からそれぞれのお客様のライフスタイルに合わせてお選びいただけます。ビジター料金でのご利用も可能ですので、月額会員登録の前に体験をしたいという方もぜひご利用ください。</p>
</div>