@use "../../variables" as *;

.message {
  text-align: center;

  .message-title {
    //all
    font-family: $fontfamily-mincho;

    //default
    font-size: $fontsize-xl;
    line-height: 54px;
    margin-bottom: 10px;

    @media (max-width: $breakpoint-lg) {
      font-size: $fontsize-l;
      line-height: 30px;
      margin-bottom: 6px;
    }
  }

  .message-text {
    //all
    font-size: $fontsize-s;

    //default
    line-height: 36px;

    @media (max-width: $breakpoint-lg) {
      line-height: 28px;
    }
  }
}
