@use "../../variables" as *;

.button {
  //all
  color: $white;
  background-color: $black;
  text-decoration: none;
  font-family: $fontfamily-gothic;
  font-size: $fontsize-s;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;

  //default
  width: 200px;
  padding: 17.5px 16px;

  &:hover {
    color: $white;
    background-color: $orange_bistre;
  }

  @media (max-width: $breakpoint-md) {
    width: 150px;
    padding: 17.5px 16px;
  }

  @media (max-width: $breakpoint-sm) {
    width: 180px;
    padding: 12.5px 16px;
  }
}
