<div class="plans container">
  <div class="message">
    <h2 class="message-title">ライフスタイルに合わせて選べる多彩なプラン</h2>
    <p class="message-text">
      平日のみのプラン、仕事帰りをコアタイムとした夕方以降が中心のプラン、休日をメインとしたプランなど、多彩なプランの中からそれぞれのお客様のライフスタイルに合わせてお選びいただけます。ビジター料金でのご利用も可能ですので、月額会員登録の前に体験をしたいという方もぜひご利用ください。
    </p>
  </div>

  <div class="plan-list">
    <div class="plan">
      <h4 class="plan-title">デイタイムプラン</h4>
      <div class="plan-price">
        <div class="price">￥<b>5,000</b></div>
        <p class="price-text">月額</p>
      </div>
      <p class="plan-text">入会金0円</p>
      <p class="plan-text">平日：9時～17時</p>
      <p class="plan-text">土日祝：利用ナシ</p>
      <p class="plan-text">コアタイムでの利用に最適なプラン</p>
    </div>

    <div class="plan">
      <h4 class="plan-title">スタンダードプラン</h4>
      <div class="plan-price">
        <div class="price">￥<b>15,000</b></div>
        <p class="price-text">月額</p>
      </div>
      <p class="plan-text">入会金0円</p>
      <p class="plan-text">平日：17時～23時</p>
      <p class="plan-text">土日祝：営業時間全て</p>
      <p class="plan-text">営業時間内で終日ご利用可能なプラン</p>
    </div>

    <div class="plan">
      <h4 class="plan-title">プレミアムプラン</h4>
      <div class="plan-price">
        <div class="price">￥<b>20,000</b></div>
        <p class="price-text">月額</p>
      </div>
      <p class="plan-text">入会金5000円</p>
      <p class="plan-text">平日：営業時間全て</p>
      <p class="plan-text">土日祝：営業時間全て</p>
      <p class="plan-text">フルに使いたい方のためのプレミアムなプラン</p>
    </div>
  </div>

  <a class="button" href="#">プラン料金</a>
</div>
