@use "../../variables" as *;

.cards {
  margin: auto;
  padding: 0;
  gap: 10px;

  @media (max-width: $breakpoint-md) {
    gap: 0px;
  }

  .card {
    margin-bottom: 100px;
    width: calc(33.33% - 6.667px);

    @media (max-width: $breakpoint-md) {
      width: 100%;
      margin-bottom: 40px;
    }
  }
}
