<div class="cards container row flex-md-nowrap">
  <div class="card border-0 col-12 col-md-4">
    <div class="card-img-all">
      <img class="card-img" src="../../../img/card-1.jpg" alt="card1の画像" />
      <div class="card-img-overlay">
        <div class="triangle"></div>
        <h4 class="card-title">CONCEPT</h4>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">
        「本屋」でも「自習室」でもない、新しい空間。それがこのカフェ＆コワーキングです。お好きなドリンクを飲みながらゆったりと気兼ねなく勉強や仕事に取り組んでいただけます。
      </p>
      <div class="card-btn">
        <a class="button" href="#">コンセプト</a>
      </div>
    </div>
  </div>

  <div class="card border-0 col-12 col-md-4">
    <div class="card-img-all">
      <img class="card-img" src="../../../img/card-2.jpg" alt="card2の画像" />
      <div class="card-img-overlay">
        <div class="triangle"></div>
        <h4 class="card-title">SERVICE</h4>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">
        喫茶・軽食を楽しめるカフェスペース。ビジネス書から最新の雑誌まで取りそろえるブックスペース。ブース型のパーソナルワークスペースに、開放感があるコワーキングスペース。
      </p>
      <div class="card-btn">
        <a class="button" href="#">サービス</a>
      </div>
    </div>
  </div>

  <div class="card border-0 col-12 col-md-4">
    <div class="card-img-all">
      <img class="card-img" src="../../../img/card-3.jpg" alt="card3の画像" />
      <div class="card-img-overlay">
        <div class="triangle"></div>
        <h4 class="card-title">FLOOR</h4>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">
        カフェ・ブック・コワーキング。各エリアで異なるコンセプトを持つ当店では、目的や気分に合わせてフロア内を移動することで充実した時間をお過ごしいただけます。
      </p>
      <div class="card-btn">
        <a class="button" href="#">フロア</a>
      </div>
    </div>
  </div>
</div>
